#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-btn {
  background: blue;
  color: white;
  margin-top: 3em;
  text-decoration: none;
  padding: .5em 2em;
  border-radius: 10px;
  border-color: darkblue;
  transition: 0.2s ease-in-out;
}

#start-btn:hover {
  background: darkblue;
  transition: 0.2s ease-in-out;
}

#start-reset-btn-container {
  display: flex;
  flex-direction: column;
}

#start-reset-btn-container button {
  margin-bottom: 1em;
}
