#choices-container
  display: flex
  flex-direction: column

  button
    margin-top: 1em


#play-btn
  width: 100px
  height: 100px
  padding: 0
  display: inline-flex
  justify-content: center
  place-items: center
  align-items: center

  .bi
    width: 2em
    height: 2em
