:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}

button, select {
  border: solid 1px limegreen;
  border-radius: 10px;
  background: limegreen;
  color: white;
  padding: .5em 2em;
  font-size: 1em;
}

button:hover {
  cursor: pointer
}

button:disabled {
  background: #eee;
  color: #ccc;
  border-style: dotted;
  border-color: #ccc;
}

button.selected {
  background: green;
}
